VENDOR_PATH=$PWD/vendor
export ZEPHYR_BASE=$VENDOR_PATH/zephyr
export BSIM_OUT_PATH=$VENDOR_PATH/tools/bsim
export BSIM_COMPONENTS_PATH=$BSIM_OUT_PATH/components/

if [ -d .venv ]; then source .venv/bin/activate; fi
if [ -d $ZEPHYR_BASE ]; then source $ZEPHYR_BASE/zephyr-env.sh; fi