/*
 * XIAO nRF54L15 Sense
 * IMU: LSM6DS3TR-C (Zephyr lsm6dsl driver) at I2C30 addr 0x6a
 * Data-ready IRQ: P0.02
 *
 * Upstream board DTS uses st,lsm6dso, but the populated part is LSM6DS3TR-C
 * (WHO_AM_I 0x6A). The lsm6dso driver rejects that ID and never becomes ready.
 *
 * Battery ADC: vbat_pwr regulator (P1.15) gates a voltage divider whose
 * output is on P1.14 (SAADC AIN7, channel@7 in xiao_nrf54l15_common.dtsi).
 * channel@7 is already defined upstream; we just route it to zephyr,user.
 */

/ {
	aliases {
		imu0 = &lsm6ds3tr_c;
	};

	zephyr,user {
		io-channels = <&adc 7>;
	};
};

&i2c30 {
	/delete-node/ lsm6dso@6a;

	lsm6ds3tr_c: lsm6ds3tr-c@6a {
		compatible = "st,lsm6dsl";
		reg = <0x6a>;
		irq-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};
